{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script
    src="https://kit.fontawesome.com/42eebbce35.js"
    crossorigin="anonymous"
  ></script>


</head>
<body>
    <header>
       <H1>Carental</H1>
       <nav>
        <ul>
            <li><a href="{% url 'core_home' %}">Accueil</a> </li>
            <li><a href="{% url 'car_list' %}">Nos voitures</a></li>
            <li><a href="{% url 'carmodel_list' %}">Nos modèles</a></li>
            <li><a href="{% url 'brand_list' %}">Nos marques</a></li>
        </ul>
       </nav>
       
       <div>
        <a href="https://www.facebook.com" target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
        <a href="https://www.twitter.com" target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>

    </header>

    <div><img class="banner" src="static/bannercarental.png" alt="" /></div>

    <main>

        <h2>Découvrez nos voitures</h2>

        <div class="main1">
            <ul class="slick-slider">
                {% for vehicle in vehicles %}
                    <li>
                        <div class="image-container">
                            <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}" width="100" height="100">
                        </div>
                        <div class="card-text">
                            <a href="{% url 'car_detail' vehicle.id %}">{{ vehicle.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
       
       <section class="sec2">
        <h2>What People Say About Us</h2>
        <div class="review">
          <img src="static/Rectangle 40.png" alt="" />
          <div class="review-content">
           
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <h6>FatemTRAORE</h6>
          </div>
        </div>
      </section>
    
    </main>
   <footer>

  
        <div class="column">
        <h1>Carental</h1>
        </div>
       
        <div class="column">
          <h5>Menu</h5>
          <ul>
            <li><a href="{% url 'core_home' %}">Accueil</a> </li>
            <li><a href="{% url 'car_list' %}">Nos voitures</a></li>
            <li><a href="{% url 'carmodel_list' %}">Nos modèles</a></li>
            <li><a href="{% url 'brand_list' %}">Nos marques</a></li>
          </ul>
        </div>
        
        <div class="column">
          <a href="https://www.facebook.com" target="_blank"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="https://www.twitter.com" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
 

   </footer>
  
   <div class="copyright">&copy; 2023 FatemTRAORE</div>
   
</body>
</html>

